/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   font-family: "futura-pt", Futura, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
   font-weight: 500;
   letter-spacing: 0.05em;
   text-rendering: optimizeLegibility;
   padding-left: 18cm;
   background-color: #AA1925;
   padding-bottom: 50px;
   padding-top: 10px;
   color: #fff;
 }

 #footer_link {
   font-size: 50px;
   font-family: verdana;
   text-decoration: none;
   color: #fff;

 }
