/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  margin: 0 0 250px;
}

nav {
  background-color: #964040;
  height: 80px;
  position: fixed;
  min-width:100%;
}

#page-logo {
  float: left;
  background-image: asset-data-url("acebook_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.hidden {
  display:none;
}

.dropbtn {
  color: white;
  padding: 5px;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
  float: right;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  line-height: normal;
  height: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 50px;
  right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #AC1B26;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #F5F5F5;
}

.dropdown:hover .fa-chevron-circle-down {
  transform: rotate(180deg);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #445561;
}


.right-link {
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 17px;
  text-decoration: none;
  font-size: 14px;
}

.large-icon {
  font-size: 20px !important;
}

.username {
  font-weight: bold;
}

.header-buffer {
  padding-top: 120px;
}

.field input {
  width:120px;
}

#post {
  padding: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #912f2f;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
  min-width: 500px;
}

.post-body {
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.post-footer {
  background-color: #b26e6e;
  color:white;
  padding: 10px 20px;
  overflow: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.new-posts {
  color: white;
  background: #b26e6e;
  padding: 15px 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  position: fixed;
  min-width:100%;
  margin-top: 80px;
}

.new-posts:hover {
    background: grey;
}
