
body {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  margin: 0 0 250px;
}

html * {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  max-width: 650px;
}

footer {
  text-align: center;
  background-color: #AA1925;
  color: #fff;
}
