.flash {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  margin-top: 18px;
  padding: 12px 25px 12px 24px;
  box-shadow: 3px 3px 1px 1px #CCCCCC;
  color: white;
}

.flash-success {
   background-color: #46A76D;
 }

.flash-error {
   background-color: #BB4150;
}
