.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #964040;
}

.footer p {
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 20px
}

.footer-link {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
