.new-user {
  margin: 50px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: #AA1925;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

input {
  box-sizing: border-box;
}

.info input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  box-shadow: inset 0 -2px #ebebeb;
}

.sign-in {
  width:450px;
  padding:30px;
  margin:40px auto;
  background: #FFF;
}

.sign-in form {
  margin: 50px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: #AA1925;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.sign-in input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  box-shadow: inset 0 -2px #ebebeb;
}

.sign-in a {
  color: white;
}

.forgot {
  float: right;
}

.sign-in label {
  color: #300409;
}

.submit-field input {
  color: white;
  background-color: transparent;
  border-radius: 67px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid white;
  box-shadow: none;
  height: 50px;
  font-size: 25px;
}

.submit-field input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

h2 {
  text-align: center;
}

.file-upload {
  position: relative;
  overflow: hidden;
  padding: 5px;
  color: white;
  background-color: transparent;
  border-radius: 67px;
  display:inline-block;
  margin-bottom: 20px;
  border: 1px solid white;
  box-shadow: none;
  font-size: 15px;
  float: right;
}

.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.choose-file {
  float: left;
}

.file-upload:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
