// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-button {
  color: white;
  background-color: #0B2638;
  border-radius: 25px;
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid white;
  box-shadow: none;
  height: 25px;
  font-size: 15px;
}
