.new-posts {
  color: white;
  background: #b26e6e;
  padding: 15px 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  position: fixed;
  min-width:100%;
  margin-top: 80px;
}

.new-posts:hover {
    background: grey;
}
