#post {
  padding: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #912f2f;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
  min-width: 500px;
}

.post-body {
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.post-footer {
  background-color: #b26e6e;
  color:white;
  padding: 10px 20px;
  overflow: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
