body {
  background-image: asset-data-url("MAbg5.png");
  background-size: cover;
  background-attachment: fixed;
}

.new-user {
  margin: 0 auto;
  margin-top: 20vh;

}

.sign-up-form {
  width: 50%;
  float: right;
}

.welcome-title {
  color: #fff;
  font-size: 60px;
  text-align: right;
}

.welcome-text-container {
  float: right;
  font-size: 30px;
}

.float-left {
  float: left;
  width: 50%;
  margin-top: 20vh;
}

#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 2s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide {
  font-size: 30px;
  color: #fff;
  font-style: italic;
}
