body {
  background-image: asset-data-url("MAbg2.png");
  background-size: cover;
  background-attachment: fixed;
}

.new-user {
  margin: 0 auto;
  margin-top: 20vh;
}

.sign-up-form {
  width: 50%;
  float: right;
}

.welcome-title {
  color: #fff;
  font-size: 50px;
  text-align: right;
}

.welcome-text-quote {
  font-size: 30px;
    color: #fff;
    font-weight: 400;
    float: right;
    text-align: right;
    font-style: italic;
    margin-left: 100px;
}

.welcome-text-content {
  font-size: 20px;
    color: #fff;
    font-weight: 400;
    float: right;
    text-align: right;
    margin-left: 100px;
    margin-top: 20px;
}

.welcome-text-container {
  float: right;
  font-size: 30px;
}

.float-left {
  float: left;
  width: 50%;
  margin-top: 20vh;
}
