#post {
  padding: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #912f2f;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
  min-width: 500px;
}

#post-body {
  background-color: #f5f5f5;
  padding: 20px 40px 20px 40px;
  font-size: 130%;
  font-weight: bold;
}

#post-footer {
  background-color: #b26e6e;
  padding: 10px 10px 30px 10px;
  color: white;
}

#col-left {
  float: left;
}

#col-right {
  float: right;
}
